<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="/painel" > 
          <ion-icon name="chevron-back-outline"></ion-icon>          
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>
   <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-icon name="people-outline"></ion-icon>
      <ion-input formControlName="nome" placeholder="Digite o nome" inputmode="text"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-icon name="apps-outline"></ion-icon>
      <ion-input formControlName="cpf" type="number" placeholder="Digite o CPF"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-input formControlName="telefone"  type="number" placeholder="Digite o telefone" inputmode="semestre"></ion-input>
    </ion-item>

    <ion-button color='primary' expand='block' color="light" type="submit">
      Enviar
    </ion-button>
</form>
</ion-content>