<ion-header>
  <ion-toolbar>
    <ion-title>Criar Alunos</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="aluno" > 
          <ion-icon name="chevron-back-outline"></ion-icon>          
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


 <ion-content>
   <form >
    <ion-item>
      <ion-icon name="people-outline"></ion-icon>
      <ion-input placeholder=" Digite seu Nome" inputmode="text"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-icon name="apps-outline"></ion-icon>
      <ion-input placeholder="Digite a matricula"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-input placeholder=" Digite seu semestre" inputmode="semestre"></ion-input>
    </ion-item>
    <ion-button color='primary' expand='block'>Enviar</ion-button> 
</form>
</ion-content>