<ion-header>
  <ion-toolbar>
    <ion-title>Professores</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="/painel" > 
          <ion-icon name="chevron-back-outline"></ion-icon>          
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-input placeholder=" Digite seu Nome" inputmode="text"></ion-input>
    </ion-item>  

    <ion-item>
      <ion-icon name="apps-outline"></ion-icon>
      <ion-input placeholder=" Digite a matricula"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-input placeholder=" Digite seu Telefone" inputmode="semestre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder=" Digite seu Email" inputmode="mail"></ion-input>
    </ion-item>


    <ion-button color='primary' expand='block'>Enviar</ion-button> 
    
</form>
</ion-content>
