<ion-header>
  <ion-toolbar>
    <ion-title>Painel</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="" > sair
                
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card slot="center" class="ion-text-card" routerLink="/cliente">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"    src="assets/icon/clientes.png">
            <ion-card-title>Clientes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/alunos">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/barbeiro.png">
            <ion-card-title>Funcionarios</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/professores">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/calendar.png">
            <ion-card-title>Agendamentos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/turmas">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/barber.png">
            <ion-card-title>Cortes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/turmas">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/produtos.png">
            <ion-card-title>Produtos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/turmas">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/fornecedores.png">
            <ion-card-title>Fornecedores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/turmas">
          <ion-card-header style="text-align: center;">
            <img width="100" height="100"   src="assets/icon/pedidos.png">
            <ion-card-title>Pedidos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
