<ion-header>
  <ion-toolbar>
    <ion-title>Painel</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="" > sair
                
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/cliente">
          <ion-card-header>
            <img width="100" height="100"   src="assets/icon/amoung-red.png">
            <ion-card-title>Cliente</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/alunos">
          <ion-card-header>
            <img width="100" height="100"   src="assets/icon/amoung-red.png">
            <ion-card-title>Aluno</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/professores">
          <ion-card-header>
            <img width="100" height="100"   src="assets/icon/amoung-green.png">
            <ion-card-title>Professores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-text-card" routerLink="/turmas">
          <ion-card-header>
            <img width="100" height="100"   src="assets/icon/amoung-blue.png">
            <ion-card-title>Turmas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
