
ion-content{
    --ion-padding-top: 16px;
    --ion-background-color:#5cbad5;
  }
  ion-card {
    --ion-background-color:#ffffff;
    border-radius: 8px;
    height: 150px;
    width: 220px;
    justify-content: center;
  }
  ion-card-header img{
      width: 70px;
      height: 70px;
  }
  