<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="start"> 
      <ion-button routerLink="/painel" > 
          <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="onSubmit()"> 
    
    <ion-item>
      <ion-icon slot="start" name="happy-outline"  color='primary'></ion-icon>
      <ion-input formControlName="nome" placeholder="Digite seu Nome" inputmode="mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="body-outline" color='primary'></ion-icon>
      <ion-input formControlName="cpf" placeholder="Digite o CPF"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-icon slot="start" name="call-outline" color='primary'></ion-icon>
      <ion-input formControlName="telefone" placeholder="Digite O telefone"></ion-input>
    </ion-item> 

    <ion-button color='primary' expand='block' color="light" type="submit">
      Cadastrar
    </ion-button>

</form>
</ion-content>