<ion-header horizontal="center" >
  <ion-toolbar>
    <ion-title>Barbearia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  vertical="center" class="ion-padding-top" scroll=”false”>

  <ion-list-header></ion-list-header>
  <ion-list-header></ion-list-header>

  <ion-img src="assets/img/barber.svg"></ion-img>
  <ion-button color="light" expand="block" routerLink="login" >Entrar</ion-button>
  <ion-button color="dark" expand="block" routerLink="criarconta">Criar Conta</ion-button>
  
  
</ion-content> 